In [1]:
import numpy as np
from scipy.stats import norm, gaussian_kde
import matplotlib.pyplot as plt
import pandas as pd
from linearmodels.panel.data import PanelData
from linearmodels.panel import PanelOLS, PooledOLS, RandomEffects, compare
from collections import OrderedDict
import wooldridge
from statsmodels.formula.api import ols

# 警告メッセージを非表示
import warnings
warnings.filterwarnings("ignore")

In [3]:
wagepan = wooldridge.data('wagepan')
wagepan = wagepan.set_index(['nr','year'],drop=False)
wagepan.head()

         nr  year  agric  black  bus  construc  ent  exper  fin  hisp  ...  \
nr year                                                                ...
13 1980  13  1980      0      0    1         0    0      1    0     0  ...
   1981  13  1981      0      0    0         0    0      2    0     0  ...
   1982  13  1982      0      0    1         0    0      3    0     0  ...
   1983  13  1983      0      0    1         0    0      4    0     0  ...
   1984  13  1984      0      0    0         0    0      5    0     0  ...

         union     lwage  d81  d82  d83  d84  d85  d86  d87  expersq
nr year
13 1980      0  1.197540    0    0    0    0    0    0    0        1
   1981      1  1.853060    1    0    0    0    0    0    0        4
   1982      0  1.344462    0    1    0    0    0    0    0        9
   1983      0  1.433213    0    0    1    0    0    0    0       16
   1984      0  1.568125    0    0    0    1    0    0    0       25

[5 rows x 44 columns]

In [5]:
wagepanp = PanelData(wagepan)
wagepanp

PanelData
                 nr    year  agric  black  bus  construc  ent  exper  fin  \
nr    year
13    1980     13.0  1980.0    0.0    0.0  1.0       0.0  0.0    1.0  0.0
      1981     13.0  1981.0    0.0    0.0  0.0       0.0  0.0    2.0  0.0
      1982     13.0  1982.0    0.0    0.0  1.0       0.0  0.0    3.0  0.0
      1983     13.0  1983.0    0.0    0.0  1.0       0.0  0.0    4.0  0.0
      1984     13.0  1984.0    0.0    0.0  0.0       0.0  0.0    5.0  0.0
...             ...     ...    ...    ...  ...       ...  ...    ...  ...
12548 1983  12548.0  1983.0    0.0    0.0  0.0       1.0  0.0    8.0  0.0
      1984  12548.0  1984.0    0.0    0.0  0.0       1.0  0.0    9.0  0.0
      1985  12548.0  1985.0    0.0    0.0  0.0       1.0  0.0   10.0  0.0
      1986  12548.0  1986.0    0.0    0.0  0.0       0.0  0.0   11.0  0.0
      1987  12548.0  1987.0    0.0    0.0  0.0       0.0  0.0   12.0  0.0

            hisp  ...  union     lwage  d81  d82  d83  d84  d85  d86  d87  \
nr    year        ...
13    1980   0.0  ...    0.0  1.197540  0.0  0.0  0.0  0.0  0.0  0.0  0.0
      1981   0.0  ...    1.0  1.853060  1.0  0.0  0.0  0.0  0.0  0.0  0.0
      1982   0.0  ...    0.0  1.344462  0.0  1.0  0.0  0.0  0.0  0.0  0.0
      1983   0.0  ...    0.0  1.433213  0.0  0.0  1.0  0.0  0.0  0.0  0.0
      1984   0.0  ...    0.0  1.568125  0.0  0.0  0.0  1.0  0.0  0.0  0.0
...          ...  ...    ...       ...  ...  ...  ...  ...  ...  ...  ...
12548 1983   0.0  ...    0.0  1.591879  0.0  0.0  1.0  0.0  0.0  0.0  0.0
      1984   0.0  ...    1.0  1.212543  0.0  0.0  0.0  1.0  0.0  0.0  0.0
      1985   0.0  ...    0.0  1.765962  0.0  0.0  0.0  0.0  1.0  0.0  0.0
      1986   0.0  ...    1.0  1.745894  0.0  0.0  0.0  0.0  0.0  1.0  0.0
      1987   0.0  ...    1.0  1.466543  0.0  0.0  0.0  0.0  0.0  0.0  1.0

            expersq
nr    year
13    1980      1.0
      1981      4.0
      1982      9.0
      1983     16.0
      1984     25.0
...             ...
12548 1983     64.0
      1984     81.0
      1985    100.0
      1986    121.0
      1987    144.0

[4360 rows x 44 columns]
PanelData object, id: 0x1482bb69f28